<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configProtectedData>
  <providers>
    <add name="KeyContainer"
         type="System.Configuration.RsaProtectedConfigurationProvider"
         keyContainerName="CryptoWebContainer"
         useMachineContainer="true" />
  </providers>
</configProtectedData>

  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  
  <appSettings configProtectionProvider="KeyContainer">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>sqrDPb9DexklpgAt0M0iCzW/bEtt4hgvp6pAxCzs6HTGewlhMR4BBbAyZwAl02G4ylklGwsDH2BmoknrRs3PBuw9ANYeY5jhJ+uCsgeS1bIjTZaq3wGNeMHwLisoS9Xu2QsS2lFKYUR1/Ds5+4OieCAXXJfR91+Tq2y8SP41X4Ve4sA5GspdEuvSmkC3TjnfMsU4m6ftJMkzcwQY5qQtFSwtJPTNRQfTdFHTIal7TPwgb09V4c5o1FfjPa1OQ5din2dX6NsmiLSEII/KqcBIhqNiwh2L9vDfRi8Pmose6jPiNjtNH1rli/EmyhgLKS5brdUTbTQWJSa0IRKx6fl7ig==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>/hSfsVnlVTjqYZ46PV520b6ETfD7n0NAUYw7lqgFTYS7D5RH1aQcDuT1+/tNfewQHucw3f1EiNW8w82l4pUCyvqjk2Fq8BhjgrU0+OTiNSIwRfGmUiUwNGrkAQE6Gz9w+vAq2xefFVp5cAcUfkmTag==</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
</configuration>